.pagination-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1em;
}

.super-card-user-container-main {
  font-size: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%;
}

.super-card-allusers {
  display: flex;
  flex-basis: 100%;
  margin-bottom: 1em;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 2em;
}

.super-card-alluser-container-photo {
  flex: 0 0 120px;
}

.super-card-allusers-photo {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.super-card-allusers__content {
  flex: 1;
  padding: 1em;
  max-height: 200px;
  overflow: auto;
}

.super-card-allusers__title {
  font-size: 0.7em;
  margin-bottom: 0.5em;
}

.super-card-allusers__description {
  font-size: 1em;
  margin-bottom: 0.5em;
}

@media (min-width: 600px) {
  .super-card-allusers {
    flex-basis: 25%;
  }
}

.super-card-allusers__content {
  flex: 1;
  padding: 1em;
  max-height: 200px;
  overflow: auto;
}

.super-card-allusers__title,
.super-card-allusers__description {
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
}