.container-main-profile {
  height: 89vh;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
  overflow: hidden;
  background-color: rgb(255, 255, 255);
}

.container-profile-basic {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 20%;
  flex-wrap: wrap;
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 0.5em;


}

.saludo-profile{
  margin-top: 1em;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.5em;
  color: rgb(0, 0, 0);
    background-color: rgb(243, 253, 157);
}

.container-profile {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  height: 70%;
  border-radius: 2em;
  /* border-left: 0.5em solid #000000;
  border-bottom: 0.5em solid #000000;
  border-top: 0.1em solid #000000;
  border-right: 0.1em solid #000000; */
}



.container-left-img-profile {
  flex: 1;
  padding: 1em;
  box-sizing: border-box;
  padding: 7em;
  border-radius: 1em;
  padding: 0em;
}

.profile-image {
  width: 100%;
  height: auto;
  border-radius: 100%;
  border-left: 0.5em solid #000000;
  border-bottom: 0.5em solid #000000;
  border-top: 0.1em solid #000000;
  border-right: 0.1em solid #000000;
}

.profile-column {
  flex: 1;
  padding: 1em;
  box-sizing: border-box;
  padding-left: 10em;
  border-left: 0.35em solid #000000;
  border-bottom: 0.35em solid #000000;
  border-top: 0.1em solid #000000;
  border-right: 0.1em solid #000000;
  background-color: #ffffff;
  border-radius: 1em;
  width: 30em;
  height: 30em;
  padding: 4em;
  margin: 3em;
}

.name-profile,
.email-name-profile {
  display: flex;
  flex-wrap: wrap;
  width: 13em;
  font-size: 1.6em;
  position: relative;
  padding: 0.6em;
  border-radius: 0.3em;
  margin-bottom: 1em;
}

.email-name-profile-click,
.name-profile-click {

  border-left: 0.1em solid #000000;
  border-bottom: 0.1em solid #000000;


}

.name-profile-input,
.email-profile-input {
  border-radius: 0.5em;
  background-color: rgba(255, 255, 255, 0);
  color: #000000;
  border-color: #000000;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  width: 13em;
  margin: 0em;
}

.error-message-style {
  color: red;
  font-size: 0.8em;
}

.button-edit {
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.button-update-profile-container {
  width: 17em;
  margin-top: 1em;
  background-color: #000000;
  border-radius: 0.5em;
  margin: 2em 0em 4em 0em;
}

.button-update-profile {
  background-color: #000000;
  color: #fff;
  padding: 0.5em 1em;
  border: none;
  cursor: pointer;
  text-decoration: none;
  border-radius: 0.5em;
  width: 17em;
}
.button-update-profile-container:hover {
  width: 17em;
  margin-top: 1em;
  background-color: rgb(243, 253, 157);
  border-radius: 0.5em;
  margin: 2em 0em 4em 0em;
}

.button-update-profile:hover {
  background-color: rgb(243, 253, 157);
  color: #000000;
  padding: 0.5em 1em;
  border: none;
  cursor: pointer;
  text-decoration: none;
  border-radius: 0.5em;
  width: 17em;
  font-weight: bold;
}

.change-password-style,
.delete-count-style {
  background: none;
  border: none;
  cursor: pointer;
  color: #bb3939;
  text-decoration: underline;
  font-size: 1.2em;
}

/* .delete-count-style {
  padding-top: 4em;
} */


@media only screen and (max-width: 480px) {

.saludo-profile{
  font-size: 1em;
}
  .container-main-profile {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
  }

  .container-profile {
    flex-direction: column;
    padding: 0em;
    margin: 0em;
    border-radius: 1em;
    width: 80%;
  }

  .name-profile,
  .email-name-profile {
    font-size: 1em;
    width: 80%;
    display: flex;
    margin-left: 1.7em;

  }

  .name-profile-input,
  .email-profile-input {
    margin-top: 0.4em;
    width: 80%;
  }

  .container-left-img-profile,
  .profile-column {
    flex: 1;
    max-width: 100%;
    padding: 1.5em;
    border-radius: 1em;
    padding: 0em;

  }

  .button-update-profile-container,
  .button-update-profile {

    font-size: 1em;
    width: 80%;
    display: flex;
    margin-left: 1.7em;
    justify-content: center;
    padding: 0.3em;
  }

  .profile-column {
    padding: 2em 0;
    margin: 3em 0;
    padding-left: 0em;

  }

  .change-password-style,
  .delete-count-style {
    font-size: 0.8em;
    font-size: 1em;
    width: 80%;
    display: flex;
    margin-left: 1.7em;
  }
}