.trip-style {
  height: 89vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgb(255, 255, 255);
  flex-wrap: wrap;
}

.container-without-trips {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 400px rgb(181, 170, 170);
  border-radius: 0em;
  background-color: rgb(255, 255, 255);
  padding: 3em;
}

.container-trip-down{
  margin-top: 8em;
}

@media only screen and (max-width: 480px) {
  .trip-style {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgb(31, 135, 147);
    flex-wrap: wrap;
  }
  
  .container-without-trips {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 400px rgb(181, 170, 170);
    border-radius: 1em;
    background-color: rgb(255, 255, 255);
    padding: 3em 0.2em 3em;

  }
  .container-trip-down{
    font-size: 0.3em;
  }
  .btn-title-trip{
    font-size: 0.5em;
  }
}