.home-style {
  height: 89vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgb(243, 253, 157);
  flex-wrap: wrap;
}


.video-background{
  width: 60em;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 0px 400px rgb(255, 255, 255);
  border-radius: 5px;
}

.video-home{
margin: 4em;
width: 97%;
}

.link-button-style-home{
margin: 1em;
width: 15em;
height: 5em;
padding: 1em;
background-color: rgb(255, 255, 255);
box-shadow: 0px 0px 400px rgb(255, 255, 255);
border-radius: 0.8em;
color: rgb(8, 83, 52);
font-size: 1.5em;
font-weight: bold;
text-decoration: none;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
transition: 1s;
cursor: pointer;
}

.link-button-style-home:hover{
background-color: rgb(58, 144, 108);
color: rgb(255, 255, 255);
box-shadow: 0px 0px 10px rgb(255, 255, 255);
transition: 1s;
}