.trip-detail-style {
    height: 89vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgb(255, 255, 255);
    flex-wrap: wrap;
}

.info-viajeros-style{
    font-size: 3em;
    text-align: center;
    margin: 1em;
    background-color: rgb(243, 253, 157);
}
.trip-detail-container-top{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    margin-bottom: 2em;
    text-align: center;
}
.trip-detail-container-down{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin-bottom: 2em;
}

.title-trip-detail-style{
    text-align: center;
    font-size: 4em;
    font-weight: bold;
    margin-bottom: 1em;
}

.trip-detail-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.trip-detail-image {
    border-radius: 0.7em;
    width: 70em;
    height: 40em;
    margin-bottom: 2em;
}

.trip-detail-description{
    text-align: center;
    font-size: 2em;
    margin: 1em;
    margin-bottom: 4em;

}

.dates-trip-detail {
    margin-bottom: 20px;
    font-size: 2.3em;
    text-align: center;
    font-weight: bold;
    background-color: rgb(243, 253, 157);
    /*evitar scroll horizontal*/
    overflow-x: hidden;
}
.trip-detail-description-calendar {
    font-size: 1.3em;
    margin: 2em;
    margin-bottom: 4em;
    width: 100%;
    height: auto;
    overflow: auto;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.viajeros-trip-detail {
    margin-bottom: 20px;
    font-size: 2.3em;
    text-align: center;
    font-weight: bold;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
}

.add-viajero-button{
    font-size: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    width: 9.5em;
    height: 3em;
    border-radius: 0.3em;
}

.style-input-trip-detail{
    border-radius: 0.5em; 
    border: 1px solid #000000;
    margin: 1em;
    width: 6em;
}
.trip-members{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1em;
    padding: 1em;
    margin-bottom: 4em;
    padding: 1em;
}


@media (max-width: 768px) {
    .trip-detail-style {
        height: 89vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        background-color: rgb(255, 255, 255);
        flex-wrap: wrap;
    }

    .trip-detail-container-top,
    .trip-detail-description{
        width: 90%;
    }

    .title-trip-detail-style {
        font-size: 2em;
    }

    .trip-detail-image {
        width: 100%;
        height: auto;
    }

    .trip-detail-description {
        font-size: 1em;
    }

    .dates-trip-detail {
        font-size: 1.5em;
    }

    .trip-detail-description-calendar{
        font-size: 0.7em;
        margin: 0em;
        margin-bottom: 4em;
        height: 100%;
        width: 100%;
        overflow: auto ;
    }

    .viajeros-trip-detail {
        margin-bottom: 0px;
        font-size: 1em;
        text-align: center;
        overflow-x: hidden;
        display: flex;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 1em;
    }
    
    .add-viajero-button{
        font-size: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        display: flex;
        justify-content: center;
        background-color: #000;
        color: #fff;
        border: none;
        padding: 0.5em 1em;
        cursor: pointer;
        width: 12em;
        height: 2.3em;
        border-radius: 0.3em;
    }
    
    .style-input-trip-detail{
        border-radius: 0.5em; 
        border: 1px solid #000000;
        width: 12em;
        height: 2em;
    }
    .trip-members{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 1em;
        padding: 1em;
        margin-bottom: 4em;
        padding: 1em;
    }

    .trip-detail-container-down{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: rgb(255, 255, 255);
        margin-bottom: 2em;
    }
    
    .title-trip-detail-style{
        text-align: center;
        font-size: 4em;
        font-weight: bold;
        margin-bottom: 1em;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
}
  
  @media (max-width: 1024px) {

  }