.location-card-all-trips {
  margin: 1em;
  padding: 1em;
  width: 40em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 2em;
  height: 70em;
}

.location-card-all-trips__title {
  font-size: 5em;
  color: #000;
}

.location-card-all-trips__image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location-card-all-trips__image {
  border-radius: 1em;
  width: 100%;
  height: 30em;
}

.location-card-all-trips__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1em;
}

.location-card-all-trips__date {
  font-size: 4em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.location-card-all-trips__description {
  font-size: 3em;
  margin-bottom: 0.5em;
}

.location-card-all-trips__button{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  color: #fff;
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
  margin-bottom: 2em;
  width: 9.5em;
  height: 3em;
  border-radius: 0.3em;
}

.delete-my-trip-style{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border: none;
  padding: 0em;
  cursor: pointer;
  margin-bottom: 2em;
}

.buttons-container-style-trip{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 100%;
  margin-top: 2em;
  padding-bottom: 2em;
}

@media (max-width: 985px) {
  .buttons-container-style-trip{
    justify-content: space-between;
    width: 100%;
    display: flex;
    margin-top: 1em;
    padding: 0em;
  }

  .location-card-all-trips__title {
    font-size: 3em;
  }

  .location-card-all-trips__image {
    height: 20em;
    width: 100%;
  }

  .location-card-all-trips__date {
    font-size: 3em;
  }

  .location-card-all-trips__description {
    font-size: 1.5em;
  }
}

@media (max-width: 1024px) {
  .location-card-all-trips {
    border-radius: 1em;
    padding-top: 0em;
    margin: 1em;
    height: 50em;
  }
  .location-card-all-trips {
    width: 100%;
  }
  .location-card-all-trips__title {
    font-size: 3em;
  }

  .location-card-all-trips__image {
    width: 100%;
  }

  .location-card-all-trips__date {
    font-size: 3em;
  }

  .location-card-all-trips__description {
    font-size: 1.5em;
  }
}