.Btn {
    --black: #000000;
    --ch-black: #141414;
    --eer-black: #1b1b1b;
    --night-rider: #2e2e2e;
    --white: #ffffff;
    --af-white: #f3f3f3;
    --ch-white: #e1e1e1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 4em;
    height: 2em;
    border: none;
    border-radius: 0.5em;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: 0.3s;
    box-shadow: 0.125em 0.125em 0.625em rgba(0, 0, 0, 0.199);
    background-color: var(--af-white);
  }
  
  .Btn .sign {
    width: 100%;
    transition-duration: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .Btn .sign svg {
    width: 1.125em;
  }
  
  .Btn .sign svg path {
    fill: var(--night-rider);
  }
  
  .Btn .text {
    position: absolute;
    right: 0%;
    width: 0%;
    opacity: 0;
    color: var(--night-rider);
    font-size: 1em;
    font-weight: 600;
    transition-duration: 0.3s;
  }
  
  .Btn:hover {
    width: 7.875em;
    border-radius: 0.5em;
    transition-duration: 0.3s;

        background-color: rgb(170, 192, 200);

    
  }
  
  .Btn:hover .sign {
    width: 30.5%;
    transition-duration: 0.3s;
    padding-left: 0;
  }
  
  .Btn:hover .text {
    opacity: 1;
    width: 70.625%;
    transition-duration: 0.3s;
    padding-right: 0.625em;
  }
  
  .Btn:active {
    transform: translate(0.125em, 0.125em);
  }
  