.location-super-container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.super-container-location {
    width: 100%;
    max-width: 1200px;
    margin: 20px 0;
}

.location-super-container-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.location-super-container-cards .location-card {
    width: calc(33.33% - 20px);
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .location-super-container-cards .location-card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .location-super-container-cards .location-card {
        width: 100%;
    }
}

.super-container-create-location{
    margin: 2em;
    padding: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    border-radius: 0.5em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.location-card-all-super__button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    border: none;
    padding: 0.5em 1em;
    cursor: pointer;
    margin-bottom: 2em;
    width: 9.5em;
    height: 3em;
    border-radius: 0.3em;
  }

  .container-button-super{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }